h1{
    color: darkmagenta;
    
}
h2{
    color:cornflowerblue;
    
}
p{
    
    color: gray;
}
body{
    background-image: url("degrade.jpeg");
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
ol{
    list-style: none;
}

strong{
    color: darkmagenta;
}
a{
    color: cornflowerblue;
}
img{
    border-color:cornflowerblue;
    border-style:groove;
}